
/* ----------------------------------------------------------------------------
* QFrame Section
* ----------------------------------------------------------------------------*/
QFrame#use_frame_1,
QFrame#use_frame_2,
QFrame#use_frame_3,
QFrame#use_frame_4,
QFrame#create_frame_1,
QFrame#create_frame_2,
QFrame#create_frame_3,
QFrame#create_frame_4
{
    background-color: #E8EBED;
    border-radius: 4px;
}

QScrollArea
{
    background-color: rgb(255,255,255);
}

/* ----------------------------------------------------------------------------
* QListView Section
* ----------------------------------------------------------------------------*/
QListView {
    color: rgb(0,0,0);
    font-size: 12pt;
    background: rgb(255,255,255);
    outline: none;  /* removes the "focus rect" */
    border: 0px solid transparent;
}
QListView::item {
   padding-bottom: 2px;
   padding-top: 2px;
   border-top-color: transparent;
   border-bottom-color: transparent;
   border: 0px solid transparent;
}
QListView::item:hover {
    background:  rgb(233,247,254);
    border: 0px;
    color: rgb(0,0,0);
}
QListView::item:selected {
    background: 1 rgb(164,222,255);
    color: rgb(0,0,0);
}


/* ----------------------------------------------------------------------------
* QMenuBar Section
* ----------------------------------------------------------------------------*/

/* QMenuBar is the top level menu while QMenu is used for 'sub menus' */
QMenuBar {
    background-color: rgb(51,103,166);
}
QMenuBar::item {
    color: rgb(255,255,255);
}
QMenuBar::item:pressed {
    background: rgb(112,160,216);
}
QMenuBar::item:selected {
   background: rgb(77,129,191);
   color: rgb(255,255,255);
}
QMenu {
    background-color: rgb(51,103,166);
    color: rgb(255,255,255);
    margin: 2px; /* some spacing around the menu */
}
QMenu::item:selected { /* when user selects item using mouse or keyboard */
    background-color: rgb(77,129,191);
    color: rgb(255,255,255);
}
QMenu::item:disabled
{
    background-color: rgb(25,83,151);
    color: rgb(190,190,190);
} 


/* This is needed for the QMessageBox which takes QAbstractButton instances */
QMessageBox > QPushButton
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #fbfeff,       stop:1 #eaf8ff);
    border-width: 1px;
    border-color: rgb(112,160,216);
    border-style: solid;
    border-radius: 5px;
    /* font-family: "Lato";
    font-size: 10pt; */
    min-height: 24px;
    /* min-width: 240px; */
    padding: 0 7 0 7;
}

/* ----------------------------------------------------------------------------
* QPushButton Section
* ----------------------------------------------------------------------------*/
QPushButton 
{   
    background-color: rgb(77,129,191);
    color: #FFFFFA;
    /* border-bottom-color: rgba(0, 0, 0, 0.6);         
    border-bottom-width: 2px;
    border-bottom-style: solid;

    border-right-color: rgba(0, 0, 0, 0.6);         
    border-right-width: 2px;
    border-right-style: solid; */

    border-radius: 6px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;

    height: 20px;

    padding: 3 8 3 8;
    position: relative;
}

QPushButton#appendCreateTableRowButton,
QPushButton#addUploadFilesBtn,
QPushButton#appendUseTableRowButton
{
    image: url(:/resources/Images/plus-dark.png);
}

QPushButton#removeUseTableRowButton,
QPushButton#clearUploadFilesBtn,
QPushButton#removeCreateTableRowButton
{
    image: url(:/resources/Images/delete-dark.png);
}

QPushButton#hyperthoughtUploadButton,
QPushButton#saveTemplateButton
{
    background-color: rgb(77,129,191);
}
QPushButton#hyperthoughtUploadButton:disabled,
QPushButton#saveTemplateButton:disabled
{
    background: rgba(29, 126, 205, .30);
}

QPushButton:disabled
{
    background: #4C98E7;
    border: 1px solid #363636;
    color:rgba(128, 128, 128, 0.90);
    opacity: 0.4;
}

QPushButton:hover
{
    background-color: rgb(77,129,191);
    border: 1px solid rgb(38, 57, 80);

}
/* Increase the padding, so the text is shifted when the button is  pressed. */
QPushButton:pressed 
{
    /* padding: 5 8 3 10; */
    background: #4C98E7;
}

QPushButton:default
{
    background-color: #4C98E7;
    border: 1px solid #4C98E7;
}

QPushButton:default:hover
{
    background-color: #4C98E7;
    color: white;
    border: 1px solid #4C98E7;
}

QPushButton:default:pressed
{
    background-color: #4C98E7;
    padding: 5 8 3 10;
}

QPushButton#appendUseTableRowButton,
QPushButton#removeUseTableRowButton
{
    width: 40px;
}


/* ----------------------------------------------------------------------------
* QComboBox Section
* ----------------------------------------------------------------------------*/
QComboBox {
    background-color: #FFFFFF;
	/* border: 1px solid #444444; */
    border-radius: 5px;
    color: rgba(255, 255, 250, 0.9);
    min-height: 20;
    min-width: 110;

    padding-top: 1px;
    padding-left: 6px;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    color: #003A70;

}

QComboBox:disabled {
    background: rgb(226,226,226);
    color: rgb(119,119,118);
}

QComboBox::drop-down 
{
    color: rgb(0,0,0); /* Text Font Color */
    subcontrol-origin: padding;
    subcontrol-position: top right;
    min-width: 40px;
    border-left-width: 1px;
    border-left-color: rgb(77,129,191);
    border-left-style: solid; 
    

    background-color: rgb(245,245,255);
}

QComboBox::drop-down:hover {
    background-color: rgb(98,145,224);
    border-left-color: rgb(77,129,191);
}

QComboBox::drop-down:disabled {
    background: rgb(226,226,226);
    border-left-color: rgb(226,226,226);
}

QComboBox QAbstractItemView {
    border: 1px solid rgb(77,129,191);
    background-color: rgb(245,245,255);
    selection-background-color: rgb(77,129,191);
}

QComboBox::down-arrow {
    image: url(:resources/Images/widgets/decrease-normal.png);
}

QComboBox::down-arrow:hover {
    image: url(:resources/Images/widgets/decrease-mouse-over.png);
}


/* ----------------------------------------------------------------------------
* QTableView Section
* ----------------------------------------------------------------------------*/
QTableView, QTableWidget
{   
    font-family: "Lato";
    color: white;
    font-size: 12pt;
    background: white;
    outline: none;  /* removes the "focus rect" */
    border: 1px solid rgb( 68,  89, 100);
}

QTableView::item, QTableWidget::item
{
   padding: 2 0 2 0px;
   border-top-color: transparent;
   border-bottom-color: transparent;
   border: 0px solid transparent;
   color: rgb(0,0,0);
}
QTableView::item:hover, QTableWidget::item:hover 
{
    background:  rgb(220,220,220);
    border: 0px;
    color: rgb(0,0,0);
}
QTableView::item:selected, QTableWidget::item:selected
{
    background:  rgb(235,235,235);
    color: rgb(0,0,0);
}
QTableView::item:selected:hover, QTableWidget::item:selected:hover
{
    background:  rgb(220,220,220);
    color: rgb(0,0,0);
}

/* ----------------------------------------------------------------------------
* QHeaderView Section
* ----------------------------------------------------------------------------*/
QHeaderView {
    /* background-color: rgb(77,129,191); */
    border: 1px transparent rgb(77,129,191);
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    color: #FFFFFF;
}

QHeaderView:disabled {
    background-color: rgb(77,129,191);
    border: 0px transparent rgb(77,129,191);
    padding: 3 2 3 2px;
}

QHeaderView::section {
    background-color: rgb(77,129,191);
    color: #FFFFFF;
    padding: 3 2 3 2px;
    border-radius: 0px;
    text-align: left;
}

QHeaderView::section:checked {
    color: #FFFFFF;
    background-color: rgb(51,103,166);
}

QHeaderView::section:checked:disabled {
    color: #787878;
    background-color: rgb(51,103,166);
}

QHeaderView::section::horizontal:disabled,
QHeaderView::section::vertical:disabled {
    color: #787878;
}

QHeaderView::section::vertical::first,
QHeaderView::section::vertical::only-one {
    border-top: 1px solid rgb-primary-3;
}

QHeaderView::section::vertical {
    border-top: 1px solid rgb-primary-3;
}

QHeaderView::section::vertical::last
{
    border-bottom: 1px solid rgb-primary-3;
}

QHeaderView::section::horizontal::first,
QHeaderView::section::horizontal::only-one {
    border-left: 1px solid rgb-primary-3;
}

QHeaderView::section::horizontal {
    border-left: 1px solid rgb-primary-3;
}
QHeaderView::section::horizontal::last
{
    border-right: 1px solid rgb-primary-3;
}

/* Those settings (border/width/height/background-color) solve bug */
/* transparent arrow background and size */

QHeaderView::down-arrow {
    background-color: rgb(77,129,191);
    width: 16px;
    height: 16px;
    border-right: 1px solid rgb-primary-3;
}

QHeaderView::up-arrow {
    background-color: rgb(77,129,191);
    width: 16px;
    height: 16px;
    border-right: 1px solid rgb-primary-3;
}


/* ----------------------------------------------------------------------------
* QTabView Section
* ----------------------------------------------------------------------------*/
QTabWidget::pane {
    border-top: 1px solid #6B6B6B;
    background-color: #f7f7f7;
}

QTabWidget::tab-bar:top 
{
    min-width: 350;
}


QTabBar::tab 
{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14.4px;
    text-align: center;

    color: rgba(255, 255, 250, 0.9);
    background-color: #2B2B2B;

    min-width: 100px; 
    padding: 5px 5px 5px 5px; 

    padding: 5 5 5 5;
    margin: 5 5 5 5;
}

QTabBar::tab:selected 
{
    background-color: #3678E3;
    border-radius: 8px;
}

QTabBar::tab:!selected 
{
    background: rgb(112,160,216);
    color: rgba(255, 255, 250, 0.5);
    border-radius: 8px;
}

QTabBar::tab:!selected:hover 
{
    background: rgb(77,129,191);
    border-radius: 8px;
}

/* ----------------------------------------------------------------------------
* QLabel Section
* ----------------------------------------------------------------------------*/
QLabel
{
    color: rgb(0,0,0);
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
}

/* ----------------------------------------------------------------------------
* QLineEdit Section
* ----------------------------------------------------------------------------*/
QLineEdit
{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    outline: none;

    color: rgb(0,0,0);
    padding: 1px;
    border: 0px solid rgb(77,129,191);
    border-radius: 4px;
    min-height: 24;
    /* background-color: rgb(245,245,255); */
    outline: none;
}

QLineEdit:disabled
{
    color: rgb(119,119,118);
    background-color: rgb(226,226,226);
}



/* ----------------------------------------------------------------------------
* QTreeView Section
* ----------------------------------------------------------------------------*/
QTreeView {
    show-decoration-selected: 1;
    font-size: 13pt;
    background-color: rgb(255,255,255);
    border-style: none;
    outline: none; /* removes the "focus rect" */
    alternate-background-color: rgb(255,255,255);
}
QTreeView::item {
    padding-bottom: 0px;
    padding-top: 0px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    background: rgb(255,255,255);
    border-style: none;
}
QTreeView::item:hover {
    background: rgb(233,247,254);
    border: 0px;
}
QTreeView::item:selected:active{
    color: rgb(255,255,255);
   background:  rgb(112,160,216);
}
QTreeView::item:selected:!active {
    color: rgb(0,0,0);
   background:  rgb(112,160,216);
}
QTreeView::branch{
    background: rgb(255,255,255);
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(:/DREAM3D/Images/widgets/collapsed-normal.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url(:/DREAM3D/Images/widgets/expanded-normal.png);
}
QTreeView::branch:hover {
   background: rgb(233,247,254);
    border: 0px;
}
QTreeView::branch:selected:active{
    background:  rgb(112,160,216);
    border: 0px;
    border-style: none;
}
QTreeView::branch:selected:!active {
    background:  rgb(112,160,216);
    border: 0px;
    border-style: none;
}

/* ----------------------------------------------------------------------------
* QTabView Section for the StatsGenerator Tabs
* ----------------------------------------------------------------------------*/

QTabWidget#statsGenPhaseTabWidget::pane 
{
    border: 1px 0px 0px 0px;
    border-top: 1px solid rgb(77,129,191);
    background: rgb(255,255,255);
    /* position: absolute; */
    top: 0.5em;
}

QTabWidget#statsGenPhaseTabWidget > QTabBar::tab
{
    font-family: "Lato";
    font-size: 12pt;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    min-width: 65px;
    min-height: 1.5em;
    margin-right: -1px;
}

QTabWidget#statsGenPhaseTabWidget::tab-bar
{
    /* border: 1px;
    color: rgb(239,239,239);
    min-width: 10px; */
    alignment: center;
}

QTabWidget#statsGenPhaseTabWidget > QTabBar::tab:selected 
{
    border: 1px solid rgb(77,129,191);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* background-color: rgb(239,239,239); */
    margin: 0px;
    color: rgb(239,239,239);
    /* background: rgb(25,83,151); */
}

QTabWidget#statsGenPhaseTabWidget > QTabBar::tab:!selected 
{
    color: rgb(0,0,0);
    background: rgb(112,160,216);
    border: 1px solid rgb(77,129,191);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0px;
}

QTabWidget#statsGenPhaseTabWidget > QTabBar::tab:!selected:hover 
{
    /* border: 1px solid rgb(239,239,239);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; */
    background-color: rgb(77,129,191);
    /* color: white; */
}

QTabWidget#statsGenPhaseTabWidget > QTabBar::tab:first,
QTabWidget#statsGenPhaseTabWidget > QTabBar::tab:first:!selected:hover
{
    /* margin-right: -5; */
    border: 1px solid rgb(77,129,191);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

QTabWidget#statsGenPhaseTabWidget > QTabBar::tab:last,
QTabWidget#statsGenPhaseTabWidget > QTabBar::tab:last:!selected:hover 
{
    /* margin-right: -5; */
    border-right: 1px solid rgb(77,129,191);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 1px;

}

/* ----------------------------------------------------------------------------
* QStatusBar Section
* ----------------------------------------------------------------------------*/
QStatusBar
{
    font-family: "Lato";
    color: #b1b1b1;
    background-color: #E8EBED;
}
